/* Search Section---------------- */

#search-sec {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    gap: 0.5rem;
}

#search {
    padding: 12px 40px;
    border-radius: 20px;
    background-color: antiquewhite;
    border: none;
}

#search:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Input Field-------------------------- */

input {
    padding: 10px 200px;
    border-radius: 20px;
    background-color: antiquewhite;
    border: none;
}

input::placeholder {
    color: black
}

input:focus {
    outline: none;
}

input:hover {
    transform: scale(1.03);
    cursor: pointer;
}

/* History Button------------------------ */

#history {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: antiquewhite;
    border: none;
    margin-right: 10px;
}

#history:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#h-src-wrd{
    padding: 20px;
    margin: 20px;
    margin: 0px 300px;
    margin-bottom: 40px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#h-output{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
    
}

#h-output h3{
    color: black;
}

#h-wrd{
    display: flex;

}