/* Header----------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
  padding: 30px 40px;
  background-color: #1a365d;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
}

header nav a {
  font-weight: 300;
  color: silver;
  text-decoration: none;
}
